@media print{
  .print-hide{
    display: none !important;
  }

  .print-show{
    display: initial !important;
  }

  .title{
    position: relative !important;
    z-index: 1 !important;
    margin-bottom: 20px;
    color: #4caf50 !important;
  }
}
@page {
  size: A4;
}

@page :left {
  margin-left: 0cm;
}

@page :right {
  margin-right: 0cm;
}


